[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
plotly = "*"
pexpect = "*"

[dev-packages]
pyppeteer = "*"
nbconvert = "*"
jupyter-contrib-nbextensions = "*"

[requires]
